In [51]:
# Importar biblioteca pyodbc:
import pyodbc

# Classe para conexão com o banco de dados:
class ConexaoBD ():
 def conectar (self):
    return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database =
'empresa', trusted_connection = 'yes')
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:

conexao = bd.conectar ()

In [52]:
print(conexao)

# Classe Categoria:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Categoria (nome, descricao) values
        ('Telefonia', 'Aparelho telefônico'),
        ('Informática', 'Computador portátil'),
        ('Roupa', 'Vestuário'),
        ('Calçado', 'Vestuário');
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)
            
# Instanciar objeto da classe Categoria
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
categoria.inserir ()

<pyodbc.Connection object at 0x07BC62F0>

In [55]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Vendedor (cpf, nome, email, telefone, endereco) values
        ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-
        1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
        ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-
        2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
        ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-
        3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
        ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-
        4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
        ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-
        5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
        ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-
        6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
        ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-
        7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
        ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-
        8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
        ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-
        9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG');
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Inserir um registro no banco de dados:
vendedor.inserir ()

In [56]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into Produto (nome, descricao, marca, id_categoria) values
        ('Celular', 'Celular 1', 'Apple', 1),
        ('Celular', 'Celular 2', 'Samsung', 1),
        ('Celular', 'Celular 3', 'Xiaomi', 1),
        ('Notebook', 'Notebook 1', 'Apple', 2),
        ('Notebook', 'Notebook 2', 'Samsung', 2),
        ('Notebook', 'Notebook 3', 'Xiaomi', 2),
        ('Camisa', 'Camisa 1', 'Nike', 3),
        ('Calça', 'Calça 1', 'Nike', 3),
        ('Tênis', 'Tênis 1', 'Nike', 4),
        ('Camisa', 'Camisa 2', 'Adidas', 3),
        ('Calça', 'Calça 2', 'Adidas', 3),
        ('Tênis', 'Tênis 2', 'Adidas', 4),
        ('Camisa', 'Camisa 3', 'Zara', 3),
        ('Calça', 'Calça 3', 'Zara', 3),
        ('Tênis', 'Tênis 3', 'Zara', 4);
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.inserir ()

In [57]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
        dml = ''' insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco)
        values
        ('111.111.111-11', 1, 2, 4000),
        ('111.111.111-11', 2, 3, 3000),
        ('111.111.111-11', 3, 4, 1000),
        ('111.111.111-11', 12, 2, 110),
        ('222.222.222-22', 4, 3, 5000),
        ('222.222.222-22', 5, 5, 4000),
        ('222.222.222-22', 6, 6, 3000),
        ('333.333.333-33', 7, 10, 50),
        ('333.333.333-33', 14, 2, 88),
        ('555.555.555-55', 7, 10, 45),
        ('666.666.666-66', 9, 3, 120),
        ('666.666.666-66', 14, 8, 78),
        ('888.888.888-88', 10, 0, 40),
        ('999.999.999-99', 11, 0, 87),
        ('999.999.999-99', 1, 1, 5000);
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (dml)

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Inserir um registro no banco de dados:
vendedor_produto.inserir ()

In [61]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao

    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
        from Vendedor v
        '''
        with self.conexao:
            cursor = self.conexao.cursor ()
            cursor.execute (sql)
            for linha in cursor:
                print (linha)

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

('111.111.111-11', 'Ana', 'ana@ana.com.br')
('222.222.222-22', 'Bruno', 'bruno@bruno.com.br')
('333.333.333-33', 'Carla', 'carla@carla.com.br')
('444.444.444-44', 'Diego', 'diego@diego.com.br')
('555.555.555-55', 'Elis', 'elis@elis.com.br')
('666.666.666-66', 'Fábio', 'fabio@fabio.com.br')
('777.777.777-77', 'Gisele', 'gisele@gisele.com.br')
('888.888.888-88', 'Heitor', 'heitor@heitor.com.br')
('999.999.999-99', 'Iris', 'iris@iris.com.br')

In [65]:
# Importar a biblioteca Pandas:
import pandas as pd

In [66]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexão

    def buscarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, v.email as 'E-mail'
        from Vendedor v
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

        # Instanciar objeto da classe Vendedor:
        vendedor = Vendedor (conexao)
        # Ler os registros do banco de dados:
        vendedor.buscarPandas ()

In [67]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def pesquisarPandas (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
        p.nome as Produto, p.marca as Marca,
        c.nome as Categoria,
        vp.quantidade as Qtde, vp.preco as Preço
        from Vendedor v, VendedorProduto vp, Produto p, Categoria c
        where v.cpf = vp.cpf_vendedor and
        vp.id = p.id and
        p.id_categoria = c.id;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.pesquisarPandas ()

CPF Vendedor   Produto    Marca    Categoria  Qtde   Preço
0   111.111.111-11      Ana   Celular    Apple    Telefonia     2  4000.0
1   111.111.111-11      Ana   Celular  Samsung    Telefonia     3  3000.0
2   111.111.111-11      Ana   Celular   Xiaomi    Telefonia     4  1000.0
3   111.111.111-11      Ana  Notebook    Apple  Informática     2   110.0
4   222.222.222-22    Bruno  Notebook  Samsung  Informática     3  5000.0
5   222.222.222-22    Bruno  Notebook   Xiaomi  Informática     5  4000.0
6   222.222.222-22    Bruno    Camisa     Nike        Roupa     6  3000.0
7   333.333.333-33    Carla     Calça     Nike        Roupa    10    50.0
8   333.333.333-33    Carla     Tênis     Nike      Calçado     2    88.0
9   555.555.555-55     Elis    Camisa   Adidas        Roupa    10    45.0
10  666.666.666-66    Fábio     Calça   Adidas        Roupa     3   120.0
11  666.666.666-66    Fábio     Tênis   Adidas      Calçado     8    78.0
12  888.888.888-88   Heitor    Camisa     Zara        Roupa     0    40.0
13  999.999.999-99     Iris     Calça     Zara        Roupa     0    87.0
14  999.999.999-99     Iris     Tênis     Zara      Calçado     1  5000.0
<class 'pandas.core.frame.DataFrame'>

In [75]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
            from Vendedor v 
            '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor(conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  444.444.444-44    Diego
4  555.555.555-55     Elis
5  666.666.666-66    Fábio
6  777.777.777-77   Gisele
7  888.888.888-88   Heitor
8  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [76]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select distinct p.nome as Produto
        from Produto p
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Inserir um registro no banco de dados:
produto.buscar ()

Produto
0     Calça
1    Camisa
2   Celular
3  Notebook
4     Tênis
<class 'pandas.core.frame.DataFrame'>

In [77]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where v.cpf in (select vp.cpf_vendedor
        from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  555.555.555-55     Elis
4  666.666.666-66    Fábio
5  888.888.888-88   Heitor
6  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [78]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where exists (select vp.cpf_vendedor
        from VendedorProduto vp
        where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
        # Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  111.111.111-11      Ana
1  222.222.222-22    Bruno
2  333.333.333-33    Carla
3  555.555.555-55     Elis
4  666.666.666-66    Fábio
5  888.888.888-88   Heitor
6  999.999.999-99     Iris
<class 'pandas.core.frame.DataFrame'>

In [79]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where v.cpf not in (select vp.cpf_vendedor
        from VendedorProduto vp);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  444.444.444-44    Diego
1  777.777.777-77   Gisele
<class 'pandas.core.frame.DataFrame'>

In [80]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor
        from Vendedor v
        where not exists (select vp.cpf_vendedor
        from VendedorProduto vp
        where v.cpf = vp.cpf_vendedor);
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Ler os registros do banco de dados:
vendedor.buscar ()

CPF Vendedor
0  444.444.444-44    Diego
1  777.777.777-77   Gisele
<class 'pandas.core.frame.DataFrame'>

In [85]:
# Classe VendedorProduto:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select max (preco) as 'Preço Máximo'
        from VendedorProduto
    '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0        5000.0
<class 'pandas.core.frame.DataFrame'>

In [88]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select min (preco) as 'Preço Máximo'
        from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0          40.0
<class 'pandas.core.frame.DataFrame'>

In [91]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
     self.conexao = conexao
    def buscar (self):
        sql = ''' select avg (preco) as 'Preço Máximo'
        from VendedorProduto
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0   1707.866666
<class 'pandas.core.frame.DataFrame'>

In [95]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select sum (preco) as 'Preço Máximo'
        from VendedorProduto '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Preço Máximo
0       25618.0
<class 'pandas.core.frame.DataFrame'>

In [98]:
# Classe VendedorProduto:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select count (id) as 'Contagem'
        from VendedorProduto '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor_produto = VendedorProduto (conexao)
# Pesquisar:
vendedor_produto.buscar ()

Contagem
0        15
<class 'pandas.core.frame.DataFrame'>

In [104]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
                from Produto p, Categoria c, VendedorProduto vp
                where vp.id_produto = p.id and
                p.id_categoria = c.id
                group by p.nome, c.nome, vp.quantidade, vp.preco
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto    Categoria  Qtde   Preço
0      Calça        Roupa     0    87.0
1      Calça        Roupa     2    88.0
2      Calça        Roupa     8    78.0
3     Camisa        Roupa     0    40.0
4     Camisa        Roupa    10    45.0
5     Camisa        Roupa    10    50.0
6    Celular    Telefonia     1  5000.0
7    Celular    Telefonia     2  4000.0
8    Celular    Telefonia     3  3000.0
9    Celular    Telefonia     4  1000.0
10  Notebook  Informática     3  5000.0
11  Notebook  Informática     5  4000.0
12  Notebook  Informática     6  3000.0
13     Tênis      Calçado     2   110.0
14     Tênis      Calçado     3   120.0
<class 'pandas.core.frame.DataFrame'>

In [108]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco as Preço
        from Produto p, Categoria c, VendedorProduto vp
        where vp.id_produto = p.id and
        p.id_categoria = c.id
        group by p.nome, c.nome, vp.quantidade, vp.preco
        having vp.preco > 500
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

        # Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto    Categoria  Qtde   Preço
0   Celular    Telefonia     1  5000.0
1   Celular    Telefonia     2  4000.0
2   Celular    Telefonia     3  3000.0
3   Celular    Telefonia     4  1000.0
4  Notebook  Informática     3  5000.0
5  Notebook  Informática     5  4000.0
6  Notebook  Informática     6  3000.0
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
     self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco a
        s Preço
        from Produto p, Categoria c, VendedorProduto vp
        where vp.id_produto = p.id and
        p.id_categoria = c.id
        group by p.nome, c.nome, vp.quantidade, vp.preco
        having vp.preco > 500
        order by c.nome asc, vp.preco desc
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
        # Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

In [109]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
     self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
        , p.nome as Produto, c.nome as Categoria
        from Vendedor v
        inner join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        inner join Produto p on vp.id_produto = p.id
        inner join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
        
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto    Categoria
0   111.111.111-11      Ana     2  4000.0   Celular    Telefonia
1   111.111.111-11      Ana     3  3000.0   Celular    Telefonia
2   111.111.111-11      Ana     4  1000.0   Celular    Telefonia
3   111.111.111-11      Ana     2   110.0     Tênis      Calçado
4   222.222.222-22    Bruno     3  5000.0  Notebook  Informática
5   222.222.222-22    Bruno     5  4000.0  Notebook  Informática
6   222.222.222-22    Bruno     6  3000.0  Notebook  Informática
7   333.333.333-33    Carla    10    50.0    Camisa        Roupa
8   333.333.333-33    Carla     2    88.0     Calça        Roupa
9   555.555.555-55     Elis    10    45.0    Camisa        Roupa
10  666.666.666-66    Fábio     3   120.0     Tênis      Calçado
11  666.666.666-66    Fábio     8    78.0     Calça        Roupa
12  888.888.888-88   Heitor     0    40.0    Camisa        Roupa
13  999.999.999-99     Iris     0    87.0     Calça        Roupa
14  999.999.999-99     Iris     1  5000.0   Celular    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [111]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
        , p.nome as Produto, c.nome as Categoria
        from Vendedor v
        left join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        left join Produto p on vp.id_produto = p.id
        left join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
    # Instanciar objeto da classe Vendedor:
    vendedor = Vendedor (conexao)
    # Pesquisa:
    vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto    Categoria
0   111.111.111-11      Ana   2.0  4000.0   Celular    Telefonia
1   111.111.111-11      Ana   3.0  3000.0   Celular    Telefonia
2   111.111.111-11      Ana   4.0  1000.0   Celular    Telefonia
3   111.111.111-11      Ana   2.0   110.0     Tênis      Calçado
4   222.222.222-22    Bruno   3.0  5000.0  Notebook  Informática
5   222.222.222-22    Bruno   5.0  4000.0  Notebook  Informática
6   222.222.222-22    Bruno   6.0  3000.0  Notebook  Informática
7   333.333.333-33    Carla  10.0    50.0    Camisa        Roupa
8   333.333.333-33    Carla   2.0    88.0     Calça        Roupa
9   444.444.444-44    Diego   NaN     NaN      None         None
10  555.555.555-55     Elis  10.0    45.0    Camisa        Roupa
11  666.666.666-66    Fábio   3.0   120.0     Tênis      Calçado
12  666.666.666-66    Fábio   8.0    78.0     Calça        Roupa
13  777.777.777-77   Gisele   NaN     NaN      None         None
14  888.888.888-88   Heitor   0.0    40.0    Camisa        Roupa
15  999.999.999-99     Iris   0.0    87.0     Calça        Roupa
16  999.999.999-99     Iris   1.0  5000.0   Celular    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [112]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
        , p.nome as Produto, c.nome as Categoria
        from Vendedor v
        right join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        right join Produto p on vp.id_produto = p.id
        right join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
        
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto    Categoria
0             None     None   NaN     NaN     Calça        Roupa
1             None     None   NaN     NaN    Camisa        Roupa
2             None     None   NaN     NaN     Tênis      Calçado
3   111.111.111-11      Ana   2.0   110.0     Tênis      Calçado
4   111.111.111-11      Ana   2.0  4000.0   Celular    Telefonia
5   111.111.111-11      Ana   3.0  3000.0   Celular    Telefonia
6   111.111.111-11      Ana   4.0  1000.0   Celular    Telefonia
7   222.222.222-22    Bruno   3.0  5000.0  Notebook  Informática
8   222.222.222-22    Bruno   5.0  4000.0  Notebook  Informática
9   222.222.222-22    Bruno   6.0  3000.0  Notebook  Informática
10  333.333.333-33    Carla  10.0    50.0    Camisa        Roupa
11  333.333.333-33    Carla   2.0    88.0     Calça        Roupa
12  555.555.555-55     Elis  10.0    45.0    Camisa        Roupa
13  666.666.666-66    Fábio   8.0    78.0     Calça        Roupa
14  666.666.666-66    Fábio   3.0   120.0     Tênis      Calçado
15  888.888.888-88   Heitor   0.0    40.0    Camisa        Roupa
16  999.999.999-99     Iris   0.0    87.0     Calça        Roupa
17  999.999.999-99     Iris   1.0  5000.0   Celular    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [115]:
# Classe Vendedor:
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor, vp.quantidade as Qtde, vp.preco as Preço
        , p.nome as Produto, c.nome as Categoria
        from Vendedor v
        full join VendedorProduto vp on v.cpf = vp.cpf_vendedor
        full join Produto p on vp.id_produto = p.id
        full join Categoria c on p.id_categoria = c.id
        order by v.cpf;
        '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

CPF Vendedor  Qtde   Preço   Produto    Categoria
0             None     None   NaN     NaN     Tênis      Calçado
1             None     None   NaN     NaN    Camisa        Roupa
2             None     None   NaN     NaN     Calça        Roupa
3   111.111.111-11      Ana   2.0  4000.0   Celular    Telefonia
4   111.111.111-11      Ana   3.0  3000.0   Celular    Telefonia
5   111.111.111-11      Ana   4.0  1000.0   Celular    Telefonia
6   111.111.111-11      Ana   2.0   110.0     Tênis      Calçado
7   222.222.222-22    Bruno   3.0  5000.0  Notebook  Informática
8   222.222.222-22    Bruno   5.0  4000.0  Notebook  Informática
9   222.222.222-22    Bruno   6.0  3000.0  Notebook  Informática
10  333.333.333-33    Carla  10.0    50.0    Camisa        Roupa
11  333.333.333-33    Carla   2.0    88.0     Calça        Roupa
12  444.444.444-44    Diego   NaN     NaN      None         None
13  555.555.555-55     Elis  10.0    45.0    Camisa        Roupa
14  666.666.666-66    Fábio   3.0   120.0     Tênis      Calçado
15  666.666.666-66    Fábio   8.0    78.0     Calça        Roupa
16  777.777.777-77   Gisele   NaN     NaN      None         None
17  888.888.888-88   Heitor   0.0    40.0    Camisa        Roupa
18  999.999.999-99     Iris   0.0    87.0     Calça        Roupa
19  999.999.999-99     Iris   1.0  5000.0   Celular    Telefonia
<class 'pandas.core.frame.DataFrame'>

In [116]:
# Classe Produto:
class Produto:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select p.nome as Produto, c.nome as Categoria
        from Produto p
        cross join Categoria c
        order by p.nome, c.nome;
        '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))
# Instanciar objeto da classe Vendedor:
produto = Produto (conexao)
# Pesquisar:
produto.buscar ()

Produto    Categoria
0      Calça      Calçado
1      Calça      Calçado
2      Calça      Calçado
3      Calça  Informática
4      Calça  Informática
5      Calça  Informática
6      Calça        Roupa
7      Calça        Roupa
8      Calça        Roupa
9      Calça    Telefonia
10     Calça    Telefonia
11     Calça    Telefonia
12    Camisa      Calçado
13    Camisa      Calçado
14    Camisa      Calçado
15    Camisa  Informática
16    Camisa  Informática
17    Camisa  Informática
18    Camisa        Roupa
19    Camisa        Roupa
20    Camisa        Roupa
21    Camisa    Telefonia
22    Camisa    Telefonia
23    Camisa    Telefonia
24   Celular      Calçado
25   Celular      Calçado
26   Celular      Calçado
27   Celular  Informática
28   Celular  Informática
29   Celular  Informática
30   Celular        Roupa
31   Celular        Roupa
32   Celular        Roupa
33   Celular    Telefonia
34   Celular    Telefonia
35   Celular    Telefonia
36  Notebook      Calçado
37  Notebook      Calçado
38  Notebook      Calçado
39  Notebook  Informática
40  Notebook  Informática
41  Notebook  Informática
42  Notebook        Roupa
43  Notebook        Roupa
44  Notebook        Roupa
45  Notebook    Telefonia
46  Notebook    Telefonia
47  Notebook    Telefonia
48     Tênis      Calçado
49     Tênis      Calçado
50     Tênis      Calçado
51     Tênis  Informática
52     Tênis  Informática
53     Tênis  Informática
54     Tênis        Roupa
55     Tênis        Roupa
56     Tênis        Roupa
57     Tênis    Telefonia
58     Tênis    Telefonia
59     Tênis    Telefonia
<class 'pandas.core.frame.DataFrame'>