In [6]:
# Importar biblioteca pyodbc:
import pyodbc
import pandas as pd

# Classe para conexão com o banco de dados:
class ConexaoBD ():
 def conectar (self):
    return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')
# Instanciar um objeto da classe para conexão com o banco de dados:
bd = ConexaoBD ()
# Pegar uma conexão com o banco de dados:

conexao = bd.conectar ()

In [7]:
# 1) - Quais vendedores possuem o nome terminado com a letra “s”? Resp.: Elis e Iris
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome, v.cpf, v.email from Vendedor v where v.nome like \'%s\' '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

nome             cpf             email
0  Elis  555.555.555-55  elis@elis.com.br
1  Iris  999.999.999-99  iris@iris.com.br
<class 'pandas.core.frame.DataFrame'>

In [8]:
# 2) Quais vendedores possuem produtos com valor entre $10 e $50 ou entre $100 e $500? Resp.: Heitor, Elis, Carla, Ana e Fábio. 
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar (self):
        sql = ''' select v.nome, v.cpf, v.email from Vendedor v 
                    left join VendedorProduto vp on vp.cpf_vendedor = v.cpf
                    where vp.preco between 10 and 50
                    or vp.preco between 100 and 500
            '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.buscar ()

nome             cpf                 email
0     Ana  111.111.111-11        ana@ana.com.br
1   Carla  333.333.333-33    carla@carla.com.br
2    Elis  555.555.555-55      elis@elis.com.br
3   Fábio  666.666.666-66    fabio@fabio.com.br
4  Heitor  888.888.888-88  heitor@heitor.com.br
<class 'pandas.core.frame.DataFrame'>

In [14]:
# 3) Se Ana vender todos os seu produtos, quanto ela receberá? Resp.: $21.220

class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def soma_produtos_por_cpf (self, cpf):
        sql = '''SELECT cpf_vendedor, SUM(preco*quantidade)  as total
                    FROM VendedorProduto 
                    where cpf_vendedor = '###cpf###'
                    group by cpf_vendedor
            '''.replace('###cpf###', cpf)

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.soma_produtos_por_cpf('111.111.111-11')

cpf_vendedor  total
0  555.555.555-55  450.0
<class 'pandas.core.frame.DataFrame'>

In [21]:
# 4) Se todos os vendedores venderem todos os seu produtos, qual será o total apurado nas vendas? Resp.: $81.330.
class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def soma_total_produtos (self):
        sql = '''SELECT  SUM(preco*quantidade)  as total 
                    FROM VendedorProduto   
            '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.soma_total_produtos()

total
0  81330.0
<class 'pandas.core.frame.DataFrame'>

In [25]:
# 5) Se todos os vendedores venderem todos os seu produtos, quem receberá o maior valor? Resp.: Bruno, $53.000.

class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def total_valor_por_vendedor (self):
        sql = '''SELECT cpf_vendedor, SUM(preco*quantidade)  as total
                    FROM VendedorProduto  
                    group by cpf_vendedor
                    order by total desc
            '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.total_valor_por_vendedor()

cpf_vendedor    total
0  222.222.222-22  53000.0
1  111.111.111-11  21220.0
2  999.999.999-99   5000.0
3  666.666.666-66    984.0
4  333.333.333-33    676.0
5  555.555.555-55    450.0
6  888.888.888-88      0.0
<class 'pandas.core.frame.DataFrame'>

In [35]:
# 6) Se todos os vendedores venderem todos os seu produtos, qual será o valor médio das vendas? Resp.: $11.618,57.


class Vendedor:
    def __init__ (self, conexao):
        self.conexao = conexao
    def total_valor_por_vendedor (self):
        sql = '''SELECT  (SUM(preco*quantidade)) FROM VendedorProduto group by cpf_vendedor '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        total = 0
        
        for value in data_frame.get(key='total')
            total += value
        

        print (total)
        
# Instanciar objeto da classe Vendedor:
vendedor = Vendedor (conexao)
# Pesquisa:
vendedor.total_valor_por_vendedor()

None

0  21220.0
1  53000.0
2    676.0
3    450.0
4    984.0
5      0.0
6   5000.0