In [217]:
import pyodbc
import pandas as pd

In [218]:


# Classe para conexão com o banco de dados:
class ConexaoBD ():
 

 def conectar (self):
    return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')
bd = ConexaoBD ()

conexao = bd.conectar ()

In [224]:
class Tabelas:
    def __init__ (self, conexao):
        self.conexao = conexao
    def buscar ():
        sql = '''select * from Categoria '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

    def criar (self):
        sql = '''CREATE TABLE Categoria (
                            id int primary key identity (1, 1),
                            nome varchar (32),
                            descricao text
                            );
                            CREATE TABLE Vendedor (
                            cpf varchar (14) primary key,
                            nome varchar (128),
                            email varchar (128),
                            telefone varchar (20),
                            endereco varchar (256)
                            );
                            CREATE TABLE Produto (
                            id int primary key identity (1, 1),
                            nome varchar (128),
                            descricao text, marca varchar (32),
                            id_categoria int foreign key references Categoria (id)
                            );
                            CREATE TABLE VendedorProduto (
                            id int primary key identity (1, 1),
                            cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                            id_produto int foreign key references Produto (id),
                            quantidade int,
                            preco decimal
                            );
'''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))

# Instanciar objeto da classe Vendedor:
categoria = Tabelas (conexao)
# Pesquisa:
try:
  categoria.criar()
except pyodbc.DatabaseError as ex:    
  print(ex)
except:
  print("An error ocurred")
  
# categoria.criar()

DatabaseError: Execution failed on sql 'CREATE TABLE Categoria (
                            id int primary key identity (1, 1),
                            nome varchar (32),
                            descricao text
                            );
                            CREATE TABLE Vendedor (
                            cpf varchar (14) primary key,
                            nome varchar (128),
                            email varchar (128),
                            telefone varchar (20),
                            endereco varchar (256)
                            );
                            CREATE TABLE Produto (
                            id int primary key identity (1, 1),
                            nome varchar (128),
                            descricao text, marca varchar (32),
                            id_categoria int foreign key references Categoria (id)
                            );
                            CREATE TABLE VendedorProduto (
                            id int primary key identity (1, 1),
                            cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                            id_produto int foreign key references Produto (id),
                            quantidade int,
                            preco decimal
                            );
': ('42S01', "[42S01] [Microsoft][ODBC SQL Server Driver][SQL Server]Já existe um objeto com nome 'Categoria' no banco de dados. (2714) (SQLExecDirectW)")

In [220]:
class Buscar:
    def __init__ (self, conexao):
        self.conexao = conexao
    def categorias (self):
        sql = '''select * from Categoria '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))
    def produtos (self):
        sql = '''select * from Produto '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))
    def vendedor (self):
        sql = '''select * from Vendedor '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))
    
    def vendedorProdutos (self):
        sql = '''select * from VendedorProduto '''

        data_frame = pd.read_sql_query (sql, self.conexao) 
        print (data_frame)
        print (type (data_frame))



# Instanciar objeto da classe Vendedor:
categoria = Buscar (conexao)

# Pesquisa:
categoria.categorias()

    id         nome            descricao
0    1    Telefonia  Aparelho telefônico
1    2  Informática  Computador portátil
2    3        Roupa            Vestuário
3    4      Calçado            Vestuário
4    5    Telefonia  Aparelho telefônico
5    6  Informática  Computador portátil
6    7        Roupa            Vestuário
7    8      Calçado            Vestuário
8    9    Telefonia  Aparelho telefônico
9   10  Informática  Computador portátil
10  11        Roupa            Vestuário
11  12      Calçado            Vestuário
<class 'pandas.core.frame.DataFrame'>

In [221]:

categoria.produtos()

    id      nome   descricao    marca  id_categoria
0    1   Celular   Celular 1    Apple             1
1    2   Celular   Celular 2  Samsung             1
2    3   Celular   Celular 3   Xiaomi             1
3    4  Notebook  Notebook 1    Apple             2
4    5  Notebook  Notebook 2  Samsung             2
5    6  Notebook  Notebook 3   Xiaomi             2
6    7    Camisa    Camisa 1     Nike             3
7    8     Calça     Calça 1     Nike             3
8    9     Tênis     Tênis 1     Nike             4
9   10    Camisa    Camisa 2   Adidas             3
10  11     Calça     Calça 2   Adidas             3
11  12     Tênis     Tênis 2   Adidas             4
12  13    Camisa    Camisa 3     Zara             3
13  14     Calça     Calça 3     Zara             3
14  15     Tênis     Tênis 3     Zara             4
15  16   Celular   Celular 1    Apple             1
16  17   Celular   Celular 2  Samsung             1
17  18   Celular   Celular 3   Xiaomi             1
18  19  Notebook  Notebook 1    Apple             2
19  20  Notebook  Notebook 2  Samsung             2
20  21  Notebook  Notebook 3   Xiaomi             2
21  22    Camisa    Camisa 1     Nike             3
22  23     Calça     Calça 1     Nike             3
23  24     Tênis     Tênis 1     Nike             4
24  25    Camisa    Camisa 2   Adidas             3
25  26     Calça     Calça 2   Adidas             3
26  27     Tênis     Tênis 2   Adidas             4
27  28    Camisa    Camisa 3     Zara             3
28  29     Calça     Calça 3     Zara             3
29  30     Tênis     Tênis 3     Zara             4
<class 'pandas.core.frame.DataFrame'>

In [222]:

categoria.vendedor()

              cpf    nome                 email                    telefone  \
0  111.111.111-11     Ana        ana@ana.com.br  (11) 1 1111-\n        1111
1  222.222.222-22   Bruno    bruno@bruno.com.br  (22) 2 2222-\n        2222
2  333.333.333-33   Carla    carla@carla.com.br  (33) 3 3333-\n        3333
3  444.444.444-44   Diego    diego@diego.com.br  (44) 4 4444-\n        4444
4  555.555.555-55    Elis      elis@elis.com.br  (55) 5 5555-\n        5555
5  666.666.666-66   Fábio    fabio@fabio.com.br  (66) 6 6666-\n        6666
6  777.777.777-77  Gisele  gisele@gisele.com.br  (77) 7 7777-\n        7777
7  888.888.888-88  Heitor  heitor@heitor.com.br  (88) 8 8888-\n        8888
8  999.999.999-99    Iris      iris@iris.com.br  (99) 9 9999-\n        9999

                                endereco
0  Rua n.1, n. 1, Bairro 1, Cidade 1, MG
1  Rua n.2, n. 2, Bairro 2, Cidade 2, MG
2  Rua n.3, n. 3, Bairro 3, Cidade 3, MG
3  Rua n.4, n. 4, Bairro 4, Cidade 4, MG
4  Rua n.5, n. 5, Bairro 5, Cidade 5, MG
5  Rua n.6, n. 6, Bairro 6, Cidade 6, MG
6  Rua n.7, n. 7, Bairro 7, Cidade 7, MG
7  Rua n.8, n. 8, Bairro 8, Cidade 8, MG
8  Rua n.9, n. 9, Bairro 9, Cidade 9, MG
<class 'pandas.core.frame.DataFrame'>

In [223]:
categoria.vendedorProdutos()

    id    cpf_vendedor  id_produto  quantidade   preco
0    1  111.111.111-11           1           2  4000.0
1    2  111.111.111-11           2           3  3000.0
2    3  111.111.111-11           3           4  1000.0
3    4  111.111.111-11          12           2   110.0
4    5  222.222.222-22           4           3  5000.0
5    6  222.222.222-22           5           5  4000.0
6    7  222.222.222-22           6           6  3000.0
7    8  333.333.333-33           7          10    50.0
8    9  333.333.333-33          14           2    88.0
9   10  555.555.555-55           7          10    45.0
10  11  666.666.666-66           9           3   120.0
11  12  666.666.666-66          14           8    78.0
12  13  888.888.888-88          10           0    40.0
13  14  999.999.999-99          11           0    87.0
14  15  999.999.999-99           1           1  5000.0
15  16  111.111.111-11           1           2  4000.0
16  17  111.111.111-11           2           3  3000.0
17  18  111.111.111-11           3           4  1000.0
18  19  111.111.111-11          12           2   110.0
19  20  222.222.222-22           4           3  5000.0
20  21  222.222.222-22           5           5  4000.0
21  22  222.222.222-22           6           6  3000.0
22  23  333.333.333-33           7          10    50.0
23  24  333.333.333-33          14           2    88.0
24  25  555.555.555-55           7          10    45.0
25  26  666.666.666-66           9           3   120.0
26  27  666.666.666-66          14           8    78.0
27  28  888.888.888-88          10           0    40.0
28  29  999.999.999-99          11           0    87.0
29  30  999.999.999-99           1           1  5000.0
<class 'pandas.core.frame.DataFrame'>