In [24]:
import pyodbc

In [ ]:
class ConexaoBD ():
 def conectar (self):
    return pyodbc.connect (driver = '{SQL Server}', server = '.\SQLEXPRESS', database = 'empresa', trusted_connection = 'yes')

In [7]:

bd = ConexaoBD ()
conexao = bd.conectar ()

In [9]:
# Classe Categoria:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values ('celulares', 'telefones celulares');"
    with self.conexao:
        cursor = self.conexao.cursor ()
        cursor.execute (dml)
        sql = "select * from Categoria;"
        cursor.execute (sql)
        linha = cursor.fetchone ()
    return linha

In [10]:
# Instaciar objeto da classe Categoria:
categoria = Categoria (conexao)
# Inserir um registro no banco de dados:
linha = categoria.inserir ()
# Apresentar na tela o registro inserido no banco de dados:
print (linha)

(1, 'Telefonia', 'Aparelho telefônico')

In [11]:
# Classe Categoria:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?, ?);"
    nome = input ("Informe o nome da categoria: ")
    descricao = input ("Informe a descrição da categoria: ")
    parametros = tuple ((nome, descricao))
    with self.conexao:
        cursor = self.conexao.cursor ()
        cursor.execute (dml, parametros)
        # self.conexao.commit ()
        sql = "select * from Categoria;"
        cursor.execute (sql)
        linha = cursor.fetchall ()
    return linha

In [14]:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?, ?);"
    nome = input ("Informe o nome da categoria: ")
    descricao = input ("Informe a descrição da categoria: ")

    with self.conexao:
        cursor = self.conexao.cursor ()
        cursor.execute (dml, nome, descricao)
        # self.conexao.commit ()
        sql = "select * from Categoria;"
        cursor.execute (sql)
        linhas = cursor.fetchall ()
    return linhas

In [22]:

categoria = Categoria (conexao)
linha = categoria.inserir ()
print (linha)

[(1, 'Telefonia', 'Aparelho telefônico'), (2, 'Informática', 'Computador portátil'), (3, 'Roupa', 'Vestuário'), (4, 'Calçado', 'Vestuário'), (5, 'Telefonia', 'Aparelho telefônico'), (6, 'Informática', 'Computador portátil'), (7, 'Roupa', 'Vestuário'), (8, 'Calçado', 'Vestuário'), (9, 'Telefonia', 'Aparelho telefônico'), (10, 'Informática', 'Computador portátil'), (11, 'Roupa', 'Vestuário'), (12, 'Calçado', 'Vestuário'), (13, 'celulares', 'telefones celulares'), (14, '', ''), (15, '', ''), (16, '', ''), (17, '', ''), (18, '', ''), (19, '', ''), (20, '', ''), (21, '', '')]

In [25]:
class Categoria:
    def __init__ (self, conexao):
        self.conexao = conexao
    def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?, ?);"
        parametros = [
        ('livros', 'livros impressos'),
        ('eletroeletrônicos', 'dispositivos eletroeletrônicos'),
        ('alimentos', 'alimentos não perecíveis')
        ]
        with self.conexao:
        cursor = self.conexao.cursor ()
        cursor.executemany (dml, parametros)
        # self.conexao.commit ()
        sql = "select * from Categoria;"
        cursor.execute (sql)
        linha = cursor.fetchall ()
    return linha

IndentationError: expected an indented block (<ipython-input-25-1ae73222dfd7>, line 5)

In [ ]:
categoria = Categoria (conexao)
linha = categoria.inserir ()
print (linha)

In [ ]:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 def valores (self):
    parametros = []
 while True:
    nome = input ("Informe o nome da categoria: ") 
    descricao = input ("Informe a descrição da categoria: ")
    parametros.append ((nome, descricao))
    print (parametros)
    resp = input ("Deseja informar outro registro? (s/n)")
    if (resp == "n"):
        break
    return parametros
  def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?, ?);"
    parametros = self.valores ()
    with self.conexao:
    cursor = self.conexao.cursor ()
    cursor.executemany (dml, parametros)
    # self.conexao.commit ()
    sql = "select * from Categoria;"
    cursor.execute (sql)
    linha = cursor.fetchall ()
    return linha

In [ ]:

categoria = Categoria (conexao)
linha = categoria.inserir ()
print (linha)

In [ ]:
# Classe Categoria:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values ('cozinha', 'utensílios de cozinha');"

 with self.conexao:
    cursor = self.conexao.cursor ()
    cursor.execute (dml)
    # self.conexao.commit ()
    sql = "select cast (scope_identity () as int);"
    cursor.execute (sql)
    id = cursor.fetchone ()[0]

 return id